
/* *******  HEADER  ******* */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8em;
  margin-bottom: 2em;
  color: #37474F;
}

.pageTitle {
  width: 33%;
  font-size: 4em;
  letter-spacing: 1.5px;
  text-align: left;
}

.header-icons{
  width: 33%;
  text-align: right;
}

.iconbuttons{
  background: none;
  border: none;
}

.fa-question-circle, .fa-bars, .fa-home{
  font-size: 3em;
  font-weight: 400;
  margin-right: 0.5em;
}

button.fa-home {
  width: 30%;
  text-align: left;
  margin-left: 0.1em
}



/* *******  BODY  ******* */
.btn-circle {
  width: 45px;
  height: 45px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 90px;
  height: 90px;
  padding: 10px 16px;
  font-size: 28px;
  line-height: 1.33;
  border-radius: 45px;
}

.option-bar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 5%;
}

.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;

}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 28px;
  border: none;
}

.search-container input {
  border: 1px solid #ddd;
}
.search-container button{
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 28px;
  border: 1px solid #DFDCE3;
  cursor: pointer;
  height: 54px;
  width: 54px;
}

.search-container button:hover {
  background: #DFDCE3;
}

.search-container form{
  border-radius: 2px;
}

.header-wrapper {
  font-size: 24px;
}

.company-thumbnail {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.company-details {
  margin-bottom: 10px;
  font-size: 20px;
}

.company-details-box {
  margin-bottom: 10px;
}

.company-options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.hidden {
  display: none;
}

.new-header {
  font-size: 38px;
  font-weight: bold;
  color: black; /* #EFAC56;*/
  margin-bottom: 40px;
  margin-top: 10px;

}

.new-details {
  font-size: 28px;
}

.new-detail {
  display: flex;
  margin-bottom: 20px;
}

.new-detail input {
  position: absolute;
  max-width: 60%;
  min-width: 50%;
  right: 0;
  border: 1px solid #D5D5D5;
}

.cancel-button {
  position: absolute;
  right: 0;
  background-color: #F7B733; /* #FC4A1A !important;*/
  color: white;
  width: 20%;
  height: 12%;
  font-size: 28px;
  padding: 3px;
  margin-top: 5px;
  letter-spacing: 1px;
}

.cancel-button:hover {
  color: white;
  box-shadow: none;
}

.save-button {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: #4ABDAC !important;
  color: white;
  width: 30%;
  font-size: 28px;
  padding: 15px;
  margin-top: 40px;
  letter-spacing: 1px;
}
