.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8em;
  margin-bottom: 2em;
  color: #37474F;
}

.pageTitle {
  width: 33%;
  font-size: 4em;
  letter-spacing: 1.5px;
  text-align: left;
}

.header-icons{
  width: 33%;
  text-align: right;
}

.iconbuttons{
  background: none;
  border: none;
}

.fa-question-circle, .fa-bars, .fa-home{
  font-size: 3em;
  font-weight: 400;
  margin-right: 0.5em;
}

button.fa-home {
  width: 30%;
  text-align: left;
  margin-left: 0.1em
}
