.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8em;
  margin-bottom: 2em;
  color: #37474F;
}

.pageTitle {
  width: 40%;
  font-size: 4em;
  letter-spacing: 1.5px;
  text-align: left;
}

.header-icons{
  width: 33%;
  text-align: right;
}

.fa-question-circle {
  width: 20%;
}

.iconbuttons{
  background: none;
  border: none;
}

.fa-question-circle, .fa-bars, .fa-home{
  font-size: 3em;
  font-weight: 400;
  margin-right: 0.5em;
}

button.fa-home {
  width: 25%;
  text-align: left;
  margin-left: 0.1em
}

.objects-window {
  padding: 5%;
}

.objects-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.register-object, .all-objects {
  width: 40%;
  /* font-weight: lighter; */
  font-size: 30px;
  background-color: #4ABDAC !important;
  padding: 1%;
  letter-spacing: 2px;
}

.register-object.active {
  width: 40%;
  /* font-weight: lighter; */
  font-size: 30px;
  background-color: #6F8895 !important;
}

.input-group.input-group-lg.col-md-5.mb-3.mt-3 {
  width: 35%;
}

input.form-control {
  height: 100%;
}

.input-group-append {
  display: flex;
}

.form-control, input::placeholder, input{
  /* font-weight: lighter; */
  font-size: 20px;
  padding: 4px;
  align-items: center;
}

.objects-avdelning {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: #4ABDAC;
  color: white;
  font-size: 26px;
  letter-spacing: 2px;
}

.objects-kostym, .objects-mobel, .objects-rekvisita {
  width: 33.3%;
  text-align: center;
  padding: 4px;
}

.active {
  background-color: #D5D5D5;
  border-color:  #D5D5D5;
  margin: 0px;
}
.nothingCSS {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.renting-slips {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 6px;
  margin-top: 15px;
}
.renting-label {
  width: 30%;
  font-size: 2.5em;
  /* font-weight: lighter; */
}
.dropdown {
  width: 70%;
}

.dropdown-menu {
  width: 100%;
  font-size: 24px;
}

.dropdown input {
  width: 100%;
  padding: 0.001em 0.001em 0.001em 0.001em;
  background-color: #ECEFF1;
  font-size: 2.5em;
  border-style: none;
  text-align: left;
  color: black;
  /* font-weight: lighter; */
  margin: 0px;
}

.dropdown input::placeholder {
  /* font-weight: lighter; */
  text-align: left;
  text-indent: 10px;
  color: black !important;
  opacity: none;
}

.hidden {
  display: none;
}

th {
  letter-spacing: 1px;
}

.center {
  text-indent: 2em;
}

.image {
  text-indent: 0.3em;
}

.table {
  /* font-weight: lighter; */
  width: 93%;
  font-size: 2em;
}

.objects-all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
}

.camera-choice {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.btn-primary.register-object {
  width: 35% !important;
  font-size: 30px !important;
  /* font-weight: lighter; */
  background-color: #DFDCE3 !important;
  border-color: none !important;
  padding: 8px;
  color: white;
  letter-spacing: 2px;
  border-radius: 5px;
  margin-top: 10px !important;
}

.btn-primary.register-object {
  width: 40%;
}

.btn-primary.all-objects {
  width: 40%;
}

.cancel-button {
  position: absolute;
  right: 0;
  background-color: #F7B733; /* #FC4A1A !important;*/
  color: white;
  width: 20%;
  font-size: 28px;
  padding: 3px;
  margin-top: 5px;
  line-height: 0.2;
  letter-spacing: 1px;
}

.cancel-button:hover {
  color: white;
  box-shadow: none;
}
