body {
  background-color: #FAFAFA;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8em;
  margin-bottom: 2em;
  color: #37474F;
}

.pageTitle {
  width: 33%;
  font-size: 4em;
  letter-spacing: 1.5px;
  text-align: left;
}

.header-icons{
  width: 33%;
  text-align: right;
}

.iconbuttons{
  background: none;
  border: none;
}

.fa-question-circle, .fa-bars, .fa-home{
  font-size: 3.5em;
  font-weight: 400;
  margin-right: 0.5em;
}

button.fa-home {
  width: 33%;
  text-align: left;
  margin-left: 0.1em
}

.navOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nothingCSS {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.renting-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.btn-primary {
  width: 45%;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 2.5em;
  background-color: #B0BEC5;
  border-color: #B0BEC5;
  color: #37474F;
  font-weight: lighter;
  letter-spacing: 3px;
}

.btn-primary.active {
  background-color: #60879A;
  border-color: #60879A;
}

.renting-slips {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 6px;
}
.renting-label {
  width: 27%;
  margin-left: 3.7%;
  font-size: 2.5em;
  font-weight: lighter;
}
.dropdown {
  width: 66%;
}

.dropdown-menu {
  width: 100%;
  font-size: 24px;
}

input {
  width: 100%;
  padding: 0.001em 0.001em 0.001em 0.001em;
  background-color: #ECEFF1;
  font-size: 2.5em;
  border-style: none;
  text-align: left;
  color: black;
  font-weight: lighter;
  margin: 0px;
}

input::placeholder {
  font-weight: lighter;
  text-align: left;
  text-indent: 10px;
  color: black !important;
  opacity: none;
}


input#date {
  font-weight: lighter;
  text-align: left;
  color: black;
}

.hidden {
  display: none
}

#renting-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

th {
  letter-spacing: 1px;
}

.center {
  text-indent: 2em;
}

.image {
  text-indent: 0.3em;
}

.table {
  font-weight: lighter;
  width: 93%;
  font-size: 2em;
}

.other-damages {
  display: block;
  margin-left: 4%;
}

.damages {
  font-size: 2em;
  font-weight: bold;
  margin-left: 1.3em;
}

textarea {
  border: 1px solid black;
  margin-left: 1.3em;
  width: 93%;
  font-size: 2em;
  word-wrap: break-word;
  height: 4em;
}

.items-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.renting-butts {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 45%;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 2.5em;
  font-weight: lighter;
  letter-spacing: 3px;
}

.scan {
  padding: 1em 0em 1em 0em;
  background-color: #6F958A;
  color: white;
}

.manual {
  padding: 1em 0em 1em 0em;
  background-color: #956F6F;
  color: white;
}

.swal-button, .swal-button--confirm {
  background-color: #956F6F;
}

.save {
  width: 94%;
  padding: 1em 0em 1em 0em;
  background-color: #5196B8;
  color: white;
}

.optionButton {
  background-color: #ECEFF1;
  border-radius: 2px;
  width: 50%;
  font-size: 2em;
  font-weight: lighter;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}


.navButton {
  background-color: #B0BEC5;
  border-color: #B0BEC5;
  color: #37474F;
  width: 11em;
  font-size: 4em;
  font-weight: lighter;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  margin-bottom: 1em;
  letter-spacing: 3px;
}

.navButton:hover {
  background-color: #546E7A;
}

.foljesedlar-choices {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

#foljesedel-change {
  background-color: #5196B8;
  color: white;
}

#foljesedel-return {
  background-color: #6F958A;
  color: white;
}



.foljesedel{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.foljesedlar-avdelning {
  display: flex;
  /*position: relative;*/ /* so content can center align */
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.table-foljesedlar {
    margin: auto;
    margin-bottom: 25px;
}

.foljesedel-header {
  font-size: 35px;
  font-weight: lighter;
  color: black;
  width: 25%;
  /*background-color:#6F8895;*/
  margin-left: 35px;
  /*text-indent: 10px;*/
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}
/*
.table-foljesedlar {
  margin-left: 35px;
}*/

.foljesedel-info{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 93%;
  background-color: #9FCBBF;
  color: white;
  text-indent: 10px;
  padding: 3px;

}

.foljesedel-info-detaljer-odd {
  width: 3%;
  font-size: 30px;
  font-weight: lighter;
}

.foljesedel-info-detaljer {
  width: 30%;
  font-size: 30px;
  text-align: center;
  font-weight: lighter;
}
