body {
  background-color: #FAFAFA;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8em;
  margin-bottom: 2em;
  color: #37474F;
}

.header-wrapper {
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 14pt;
}

.details-wrapper {
  border-top: 1px solid #f0f0f0;
  padding: 10px 0 20px 0;
}

.order-wrapper {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16pt;
  font-weight: 200;
}

.item-wrapper {
  border-top: 1px solid #f0f0f0;
  padding: 5px 0;
  font-size: 16pt;
  font-weight: 200;
}

a:link {
  text-decoration: none;
  color: #000;
}

.retur-btn {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: none;
  background-color: #4ABDAC;
  margin-bottom: 10px;
  color: #fff;
  letter-spacing:2px;
  font-weight: 500;
  font-size: 16pt;
}

.status-icon {
  font-size: 28pt;
  position:
}

.fa-circle {
  color: #dcdcdc;
}

.fa-check-circle {
  color: #6dce6a;
}


.check-btn {
  width: 100%;
  height: 90px;
  border: none;
  background-color: pink;
  border-radius: 4px;
  color: #fff;
  font-size: 20pt;
  margin-top: 20px;
}

.scan {
  background-color: #6F958A;
  color: white;
}

.manuell{
  background-color: #956F6F;
  color: white;
}

.spara {
  background-color: #5196B8;
  color: white;
}

.utdatum {
  font-size: 14pt;
}



select {
  width: 230px;
  height: 45px;
  font-size: 14pt;
}


.fa-plus-circle {
  font-size: 55pt;
  color: #EFAC56;
  border: none;
}









.renting-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.btn-primary {
  width: 45%;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 2.5em;
  background-color: #B0BEC5;
  border-color: #B0BEC5;
  color: #37474F;
  font-weight: lighter;
  letter-spacing: 3px;
}

.btn-primary.active {
  background-color: #60879A !important;
  border-color: #60879A !important;
}



.pageTitle {
  width: 33%;
  font-size: 42pt;
  letter-spacing: 1.5px;
  text-align: left;
}

.header-icons{
  width: 33%;
  text-align: right;
}

.iconbuttons{
  background: none;
  border: none;
}

.fa-question-circle, .fa-bars, .fa-home{
  font-size: 32pt;
  margin-right: 0.5em;
  color: #37474F;
}

button.fa-home {
  width: 33%;
  text-align: left;
  margin-left: 0.1em
}
