body {
  background-color: #FAFAFA;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8em;
  margin-bottom: 8em;
  color: #37474F;
}

.pageTitle {
  width: 50%;
  font-size: 4em;
  padding-left: 1em;
  padding-right: 1em;
  letter-spacing: 1.5px;
}

.header-icons{
  width: 50%;
  text-align: right;
}

.iconbuttons{
  background: none;
  border: none;
}

.fa-question-circle {
  font-size: 3em;
  font-weight: 400;
  margin-right: 0.5em;
}

.fa-bars {
  font-size: 3em;
  font-weight: 400;
  margin-right: 0.5em;
}

.navOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.navButton {
  /* background-color: #B0BEC5;
  border-color: #B0BEC5;
  color: #37474F; */
  width: 11em;
  font-size: 4em;
  font-weight: lighter;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  margin-bottom: 1em;
  letter-spacing: 3px;
}

.navButton:hover {
  background-color: #546E7A;
}

.renting-nav {
  background-color: #4ABDAC;
}

.objects-nav {
  background-color: #FC4A1A;
}

.customer-nav {
  background-color: #F7B733;
}
